body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  transition: background 0.2s;
}

.card {
  width: calc(100vw - 12px);
  height: 70vh;
  background: #ffffff;
  position: absolute;
  bottom: 6px;
  left: 6px;
  will-change: transform;
  border-radius: 16px;
}

.small {
  width: 100px;
  height: 100px;
  background: red;
  bottom: calc(50% - 50px);
  left: calc(50% - 50px);
}

.dragIndicator {
  position: absolute;
  height: 8px;
  width: 60px;
  background: #333;
  border-radius: 8px;
  top: calc(21px - 4px);
  left: calc(50% - 30px);
}